.container{
    text-align: center;
    box-shadow: 10px 10px 36px -4px rgba(5,5,5,1);
    width: 900px;
    margin: 0 auto;
    padding: 20px;
    background-image: url("fondo.jpg");
    background-repeat: no-repeat;
    font-family:  "cursive", cursive;
}

.container img{
    border-radius: 50%;
}

.p{
    width: 700px;
    margin: 0 auto;
    font-size: 25px;
    padding-top: 20px; 
}

.container button{
    border-radius: 8px;
    font-size: 18px;
    background-color: #FFADC9;
}